appnope==0.1.0
backports.shutil-get-terminal-size==1.0.0
blessings==1.6
blinker==1.4
bpython==0.15
coverage==4.0.3
curtsies==0.2.6
decorator==4.0.9
Flask==0.10.1
Flask-DebugToolbar==0.10.0
Flask-SQLAlchemy==2.1
gnureadline==6.3.3
greenlet==0.4.9
ipython==4.2.0
ipython-genutils==0.1.0
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
oauthlib==1.1.1
pathlib2==2.1.0
pexpect==4.0.1
pickleshare==0.7.2
psycopg2==2.6.1
ptyprocess==0.5.1
Pygments==2.1.3
requests==2.10.0
requests-oauthlib==0.6.1
simplegeneric==0.8.1
six==1.10.0
SQLAlchemy==1.0.12
traitlets==4.2.1
wcwidth==0.1.6
Werkzeug==0.11.9
yelpapi==1.3
