/*html, body {*/
    /*height: 100%;*/
    /*margin: 0;*/
    /*padding: 0;*/
/*}*/

body{
    padding-top: 70px;
}
#splash-map{
    width:100%;
    height: 400px;
 	/*height:calc(100% - 0px);*/
}
#results-map{
    width: 300px;
    height: 300px;
    position: fixed;
    top: 20px;
    float: right;
}

/*.query-block{*/
    /*background-color: antiquewhite;*/
/*}*/

/*#solo-bus-photo-div{*/
    /*display: inline;*/
    /*background-color: deeppink;*/
/*}*/

#solo-bus-photo {
    height: 150px;
    /*!*width: 100%*!*/
    /*}*/
}

#bus-info{
    background-color: antiquewhite;
}

#bus-text-block{
    background-color: darkseagreen;
}

/*#bus-top-row{*/
    /*background-color: #31708f;*/
/*}*/

/*#solo-bus-name{*/
    /*background-color: purple;*/
/*}*/

#solo-bus-map{
    background-color: #ac2925;
}