<!doctype html>
<html>
    <head>

        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/static/stylesheet.css">

        <title>{%  block title %}Haven{% endblock %}</title>
    </head>
    <body>
    <ul>
        {% for message in get_flashed_messages() %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
        {%  block body %}
            Body goes here
        {% endblock %}

        <script src="/static/jquery-2.2.3.min.js"></script>




        <script src="/static/jquery-2.2.3.min.js"></script>
        <script src="/static/bootstrap.min.js"></script>

        <!--google maps API script -->
        <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ keys['maps'] }}&callback=initMap"
                type="text/javascript"></script>
    </body>
</html>