<!doctype html>
<html>
    <head>

        <script src="/static/jquery-2.2.3.min.js"></script>
                    <!--google maps API script -->
        <script src="https://maps.googleapis.com/maps/api/js?key={{ keys['maps'] }}"
                type="text/javascript"></script>
        <!--bootstrap-->
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/bootstrap-theme.min.css">



        <!--rateyo-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.1.1/jquery.rateyo.min.css">


    <!--local styling/js-->
        <link rel="stylesheet" href="/static/stylesheet.css">


        <title>{%  block title %}Haven{% endblock %}</title>
    </head>
    <body>
            <nav class="navbar navbar-default navbar-fixed-top">
              <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                          data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/">Haven</a>
                </div>
                  <ul class="navbar-left">
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                      {% if user %}
{#                          <p>Hello {{ user }}</p>#}
{#                          <a href="/{{ user }}">My account</a>#}
{#                          <a href="/logout">Logout</a>#}
                          <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                 role="button" aria-haspopup="true" aria-expanded="false">{{ user }}
                                  <span class="caret"></span>
                              </a>
                              <ul class="dropdown-menu">
                                  <li><a href="/{{ user }}">My Account</a></li>
                                  <li><a href="/{{ user }}/ratings">My Ratings</a></li>
                                  <li role="separator" class="divider"></li>
                                  <li><a href="/logout">Log Out</a></li>
                              </ul>
                            </li>
                      {% else %}
                          <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                 role="button" aria-haspopup="true" aria-expanded="false">Login
                                  <span class="caret"></span>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="/login">Log In</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/create-account">Create Account</a></li>
                              </ul>
                            </li>

                      {% endif %}
                  </ul>

            </div>
        </nav>
    <ul>
        {% for message in get_flashed_messages() %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
        {%  block body %}
            Body goes here
        {% endblock %}

<!--jquery-->


        <script src="/static/bootstrap.min.js"></script>

        <!--chart.js-->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.3/Chart.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.1.1/jquery.rateyo.min.js"></script>

        <script src="/static/categories.json"></script>
        <script src="/static/haven.js"></script>
    </body>
</html>