{% extends 'base.html' %}
{% block body %}
    <h1>{{ business.name }}</h1>
    <p>Average Score: {{ rating[0] + 2 }} out of 5 over {{ rating[1] }} ratings</p>
    <table>
        {% for feedback in ratings %}
            {% if feedback.review %}
                <tr>
                    <td>Score :{{ feedback[0].score + 3 }}</td>
                    <td>Review: {{ feedback[0].review }}</td>
{#                    todo fix me to be readable datetime#}
                    <td> Reviewed: {{ feedback[1].created_at }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>

{% endblock %}