{% extends 'base.html' %}
{% block body %}
    <h1>{{ business.name }}</h1>
    <p>Average Score: {{ rating[0] + 2 }} out of 5 over {{ rating[1] }} ratings</p>
    <table>
        {% for rating in ratings %}
            {% if rating.review %}
                <tr>
                    <td>Score :{{ rating.score + 3 }}</td>
                    <td>Review: {{ rating.review }}</td>
{#                    todo fix me to be readable datetime#}
                    <td> Reviewed: {{ rating.created_at }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>

{% endblock %}