{% extends 'base.html' %}
{%  block body %}
    <h1>Welcome to Haven</h1>
    <a href="/add-ratings"><button>Add a rating</button></a>
    <form action="/results" method="GET">
        <input type="search" id='search-field' name="term" placeholder="Enter a business name or category" required>
         <div id="search method">
             <h2>Sort by:</h2>
            <input type="radio" name="sort" value="0" checked="checked">Best Matched
            <input type="radio" name="sort" value="1">Distance
            <input type="radio" name="sort" value="2">Highest rated (Yelp)
         </div>
         <div id="haven-filters">
             <p id="cutoff-val">Don't show businesses with inclusivity ratings below: 3</p>
             <input id="haven-cutoff" type="range" name="haven-cutoff" min="-2" max="1.5" value="0" step=".5">
         </div>
        <input type="submit" id='search-btn' value="Find me something good!">
    </form>
    <div id="results">
    </div>

    <div class="container">
        <div class="row">
{#            <div class="col-xs-12 col-lg-8 col-lg-offset-2">#}
                <div id="splash-map"></div>
{#            </div>#}
        </div>
    </div>


{% endblock %}