{% extends 'base.html' %}
{%  block body %}
    <p>This is the splash page</p>
    {% if user %}
        <p>Hello {{ user }}</p>
        <a href="/{{ user }}">My account</a>
        <a href="/logout">Logout</a><
    {% else %}
        <a href="/login">Login</a>
        <a href="/create-account">Create-account</a>
    {% endif %}

    <form action="/results" method="GET">
        <!--todo figure out how to get required to ignore placeholder -->
        <input type="search" id='search-field' name="term" placeholder="Enter a business name or category" required>
        <input type="submit" id='search-btn' data-offset=10
                value="Find me something good!">
    </form>
    <div id="results">
    </div>

{% endblock %}