<!doctype html>
<html>
    <head>

        <script src="/static/jquery-2.2.3.min.js"></script>
                    <!--google maps API script -->
        <script src="https://maps.googleapis.com/maps/api/js?key={{ keys['maps'] }}"
                type="text/javascript"></script>
        <link href='https://fonts.googleapis.com/css?family=Muli:400,300,300italic,400italic' rel='stylesheet' type='text/css'>


        <!--bootstrap-->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
{#        <link rel="stylesheet" href="/static/bootstrap.min.css">#}
{#        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>#}
{#        <link rel="stylesheet" href="/static/bootstrap-theme.min.css">#}
        <script src="/static/bootstrap.min.js"></script>
        <!--mustache templates-->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js"></script>
        {% raw %}
        <script type='text/html' id="business-results-template">
            {{#results}}
                 <div class="row">
                    <div class="col-lg-6 col-lg-offset-3 col-xs-12 query-result">
                        <div class="row">
                            <div class="col-lg-3 col-xs-3 res-bus-photo" style="background-image: url('{{ photo }}')">
  <!--                              {{#photo}}
                                <img class="img-responsive img-rounded" src="{{ photo }}">
                                {{/photo}} -->
                            </div>
                            <div class="col-lg-9 col-xs-9 bus-search-text">
                                <div class="row">
                                    <div class="col-lg-7 col-xs-7 bus-search-info">
                                        <div class="row">
                                            <a class="res-bus-link" href="/info/{{bus-id}}.json">
                                                <h3 class="res-bus-name">{{ name }}</h3>
                                            </a>
                                        </div>
                                        <div class="row">
                                            {{#phone}}
                                                <p class="res-bus-phone">{{ phone }}</p>
                                            {{/phone}}
                                        </div>
                                        <div class="row">
                                            {{#address1}}
                                                <p class="res-bus-address-1">{{address1}}</p>
                                            {{/address1}}
                                        </div>
                                        <div class="row">
                                            {{#address2}}
                                                <p class="res-bus-address-2">{{adress2}}</p>
                                            {{/address2}}
                                        </div>
                                        <div class="row">
                                            {{#url}}
                                                <a class="res-bus-url" href="{{url}}">Website</a>
                                            {{/url}}
                                        </div>
                                        <div class="row">
                                            <p class="res-bus-categories">
                                                {{#category}}
                                                    {{category}}
                                                {{/category}}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-xs-5 bus-search-ratings">
                                        <div class="row bus-haven-score-container">
                                            {{#haven-score}}
                                                <p class="bus-haven-score"> Haven Score:<span>{{haven-score}}</span></p>
                                            {{/haven-score}}
                                            {{^haven-score}}
                                                <p class="bus-haven-score">Haven Score: <span>N/A</span></p>
                                            {{/haven-score}}
                                        </div>
                                        <div class="row bus-yelp-score-container">
                                            <p class="bus-yelp-score">Yelp score: <span>{{yelp-score}}</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/results}}
        </script>
        <script type='text/html' id="business-template">
            <div class="row">
                <div class="col-xs-12 col-lg-8 col-lg-offset-2">
                    <div class="row" id="bus-upper-block">
                        <div class="col-lg-4 col-xs-12" id="bus-photo-div" style="background-image: url('{{ photo }}')">
                        </div>
                        <div class="col-lg-8 col-xs-12" id="bus-info-div">
                            <div class="row">
                                <h3 class="bus-name">{{ name }}</h3>
                            </div>
                            <div class="row">
                                {{#phone}}
                                    <p class="phone">{{ phone }}</p>
                                {{/phone}}
                            </div>
                            <div class="row">
                                {{#busAddress}}
                                    <p class="busAddress">{{line}}</p>
                                {{/busAddress}}
                            </div>
                            <div class="row">
                                {{#url}}
                                    <a href="{{url}}">Website</a>
                                {{/url}}
                            </div>
                            <div class="row">
                                <p class="bus-categories">
                                    {{#category}}
                                        {{category}}
                                    {{/category}}
                                </p>
                            </div>
                        </div>
                        <div class="col-log-2 hidden-xs map" id="bus-map-div">
                        </div>
                    </div>
                    <div class="row" id="review-blocks">
                        <div class="col-lg-12 col-xs-12">
                            <div class="row">
                                <div class="col-xs-12 col-lg-6" id="haven-review-block">
                                    {{#score}}
                                        <div class="row">
                                            <h3 class="col-xs-8 col-lg-8">Haven says:</h3>
                                            <h3 id="aggr-score" class="col-xs-4 col-lg-4">{{score}}</h3>
                                        </div>
                                        {{#recentScore}}
                                        <div class="row">
                                            <p class="col-xs-8 col-lg-8">Most Recent Score:</p>
                                            <p id="recent-score" class="col-xs-4 col-lg-4">{{recentScore}}</p>
                                        </div>
                                        {{/recentScore}}
                                        {{#recentReview}}
                                        <div class="row">
                                            <p class="col-xs-4 col-lg-12">Most Recent Review:</p>
                                            <p id="recent-review" class="col-xs-9 col-lg-12">{{recentReview}}</p>
                                        </div>
                                        {{/recentReview}}
                                        <!--<div class="row">
                                            <button id="more-ratings-btn" class="col-xs-12 col-lg-8 col-lg-offset-2">More ratings:</button>
                                        </div> -->
                                    {{/score}}
                                    {{^score}}
                                        <div class="row">
                                            <p class="col-lg-12 col-xs-12">Nobody has rated this business yet.</p>
                                            <p class="col-lg-12 col-xs-12">Be the first!</p>
                                        </div>
                                    {{/score}}
                                </div>
                                <div class="col-xs-12 col-lg-6" id="yelp-review-block">
                                    <div class="row">
                                        <h3 class="col-xs-8 col-lg-8">Yelp says:</h3>
                                        <h3 id="aggr-score" class="col-xs-4 col-lg-4">{{yelpScore}}</h3>
                                    </div>
                                    <div class="row">
                                        <p col-xs-12 col-lg-12>Recent Review:</p>
                                        <p>{{yelpReviewTxt}}</p>
                                    </div>
                                    <!--<div class="row">
                                        <img class="col-xs-12 col-lg-12 img-responsive" src="{{yelpReviewImg}}">
                                    </div>-->
                                </div>
                            </div>
                            <div class="row review-btn-block">
                                <div class="col-xs-12 col-lg-6 review-block-btn">
                                    <div class="row haven-review-btn-block">
                                        <button id="haven-review-modal-btn" class="col-lg-6 col-lg-offset-3 col-xs-12 bus-btns">Add a rating</button>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-lg-6 review-block-btn" id="yelp-more-btn-block">
                                    <div clas="row">
                                        <a href="{{yelpUrl}}"><button class="col-lg-offset-3 col-lg-6 col-xs-12 bus-btns" id="yelp-more-btn">See at Yelp</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <button id="return-to-query-btn" class="col-lg-2 col-lg-offset-5 col-xs-12 bus-btns">Back to Results</button>
                    </div>
                </div>
            </div>
        </script>

        {% endraw %}



    <!--local styling/js-->
        <link href='https://fonts.googleapis.com/css?family=Muli:400,300,300italic,400italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/static/stylesheet.css">


        <title>{%  block title %}Haven{% endblock %}</title>
    </head>
    <body>
            <nav class="navbar navbar-default navbar-fixed-top">
              <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                          data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/">Haven</a>
                </div>
                  <ul class="navbar-left">
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                      {% if user %}
{#                          <p>Hello {{ user }}</p>#}
{#                          <a href="/{{ user }}">My account</a>#}
{#                          <a href="/logout">Logout</a>#}
                          <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                 role="button" aria-haspopup="true" aria-expanded="false">{{ user }}
                                  <span class="caret"></span>
                              </a>
                              <ul class="dropdown-menu">
                                  <li><a href="/{{ user }}">My Account</a></li>
                                  <li><a href="/{{ user }}/ratings">My Ratings</a></li>
                                  <li role="separator" class="divider"></li>
                                  <li><a href="/logout">Log Out</a></li>
                              </ul>
                            </li>
                      {% else %}
                          <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                 role="button" aria-haspopup="true" aria-expanded="false">Login
                                  <span class="caret"></span>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="/login">Log In</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/create-account">Create Account</a></li>
                              </ul>
                          </li>

                      {% endif %}
                  </ul>

            </div>
        </nav>

    <ul>
        {% for message in get_flashed_messages() %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
        {%  block body %}
            Body goes here
        {% endblock %}

<!--jquery-->


{#        <script src="/static/bootstrap.min.js"></script>#}


        <!--highcharts-->
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/data.js"></script>
        <script src="https://code.highcharts.com/modules/drilldown.js"></script>

        <!--chart.js-->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.3/Chart.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.1.1/jquery.rateyo.min.js"></script>

        <script src="/static/categories.json"></script>
        <script src="/static/haven.js"></script>
    </body>
</html>